@model LibraryManagement.ViewModels.Users.GetUserVM;

@{
    ViewData["Title"] = "Delete User";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-warning">
    <strong>Warning!</strong> Are you sure you want to delete the user? "<em>@Model.FirstName @Model.LastName</em>"?
</div>

<div>
    <h3>User Details:</h3>
    <ul>
		<li><strong>ID:</strong> @Model.Id</li>
		<li><strong>Username:</strong> @Model.Username</li>
        <li><strong>First Name:</strong> @Model.FirstName</li>
        <li><strong>Last Name:</strong> @Model.LastName</li>

    </ul>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index", "Users")" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}